#register_form{margin:0
auto}#register_submit{margin-left:200px}#register_form
#save_time{color:#136db5}#register_form hr, #login_form
hr{display:block;width:95%;border:1px
solid #ebebeb;border-width:1px 0 0 0;clear:both;margin:10px
auto}#captcha
.ipsField_title{padding-right:0px}#captcha.recaptcha
.ipsField_content{margin-left:193px}#tou_popup{height:250px !important;overflow:auto}#register_form
.f{margin:4px
12px 4px 0;display:inline-block;vertical-align:middle}.reg_msg{color:#fff;font-size:0.8em;font-weight:bold;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:3px
8px;position:absolute; width:160px; z-index: 997;}.reg_msg
img{display:none}.reg_msg.reg_error{background-color:#ad2930}.reg_msg.reg_accept{background-color:#6F8F52;margin-left:10px;margin-top:1px;position:absolute;width:80px;z-index:1000}#login_form{width:70%;margin:0
auto}#other_signin{width:35%}#member_login
.extra{font-size:0.8em;color:#69727b;padding:5px;margin-right:10px;float:right}#facebookComplete
img.servicepic{float:left;margin-top: -2px;margin-left: -12px}#facebookComplete
p{margin-left:60px;line-height:150%}