<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Emoticon Management</title>
			<subitems>
				<subitem>
					<subitemtitle>Emoticon Management</subitemtitle>
					<subitemlang>emoticons</subitemlang>
					<subsection>emoticons</subsection>
					<subitemurl>do=overview</subitemurl>
					<subitemrolekey>emoticons_manage</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>BBCode Management</title>
			<subitems>
				<subitem>
					<subitemtitle>BBCode Management</subitemtitle>
					<subitemlang>bbcode</subitemlang>
					<subsection>bbcode</subsection>
					<subitemurl>do=overview</subitemurl>
					<subitemrolekey>bbcode_manage</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>			
			</subitems>
		</item>
		<item>
			<title>Manage Media Tag</title>
			<subitems>
				<subitem>
					<subitemtitle>Manage Media Tag</subitemtitle>
					<subitemlang>mediatag</subitemlang>
					<subsection>media</subsection>
					<subitemurl>do=overview</subitemurl>
					<subitemrolekey>media_manage</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>				
			</subitems>
		</item>
		<item>
			<title>Bad Word Filters</title>
			<subitems>
				<subitem>
					<subitemtitle>Bad Word Filters</subitemtitle>
					<subitemlang>badwords</subitemlang>
					<subsection>badwords</subsection>
					<subitemurl>do=overview</subitemurl>
					<subitemrolekey>badword_manage</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>				
			</subitems>
		</item>
	</tabitems>
</menu>