<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Import iCalendar Feeds</title>
			<subitems>
				<subitem>
					<subitemtitle>Import iCalendar Feeds</subitemtitle>
					<subitemlang>icalendar</subitemlang>
					<subsection>ical</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>