<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Blog Manager</title>
			<subitems>
				<subitem>
					<subitemtitle>Blog Manager</subitemtitle>
					<subitemlang>blog_manage</subitemlang>
					<subsection>manage</subsection>
					<subitemurl>do=overview</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>