<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Calendar Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Calendar Settings</subitemtitle>
					<subitemlang>cal_settings</subitemlang>
					<subsection>settings</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>